@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 80%;
    margin-left: 10%;
    min-width: 1024px;
    height: 72px;
    position: fixed;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#header {
    max-width: 962px;
    max-height: 72px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 120px;
    height: 12px;
    float: left;
    margin: 30px 0 30px 0;
}

#logo>img {
    width: 120px;
    height: 12px;
    float: left;
}

#button {
    width: 78px;
    height: 40px;
    float: right;
    margin: 16px 16px 16px 0;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}

#button>p {
    margin-top: 13px;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: #1D1D1D;
}

#basket {
    width: 40px;
    height: 72px;
    float: right;
    margin: 0 0x 0 0;
}

#basket>img {
    width: 40px;
    height: 72px;
    float: left;
}

#main {
    width: 80%;
    background-color: #ffffff;
    min-width: 1024px;
    float: left;
    margin-left: 10%;
    padding-top: 72px;
    padding-bottom: 80px;
    margin-right: 10%;
}

#search {
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
}

#search_top {
    width: 962px;
    height: 24px;
    float: left;
    margin: 32px 0 0 0;
    color: #979797;
    border: none;
    outline:none;
    border-bottom: 2px solid #979797;
}

#h2_div {
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 100%;
    height: 34px;
    float: left;
    margin: 56px 0 0 0px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.box_content {
    width: 100%;
    max-width: 962px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 308px;
    height: 366px;
    float: left;
    margin: 16px 0 0 16px;
}

.content>img {
    width: 308px;
    height: 256px;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dd_2_style {
    font-size: 14px;
    color: #626262;
}

#con_1 {
    margin: 16px 0 0 0;
}

#con_2 {
    margin: 16px 0 0 0;
}

#con_3 {
    margin: 16px 0 0 0;
}

dt {
    margin: 16px 0 0 0;
    width: 308px;
    height: 24px;
    float: left;
    font-size: 16px;
    color: #1D1D1D;
}

dd {
    margin: 4px 0 0 0;
    width: 308px;
    height: 21px;
    float: left;
}

footer {
    width: 80%;
    min-width: 1024px;
    margin-left: 10%;
    margin-right: 10%;
    height: 580px;
    background-color: #262626;
    float: left;
}

#footer {
    max-width: 962px;
    max-height: 580px;
    margin-left: auto;
    margin-right: auto;
}

#logo_footer {
    width: 100%;
    height: 100px;
    float: left;
}

#logo_footer>img {
    width: 190px;
    height: 20px;
    float: left;
    margin: 40px 0 40px 0;
}

hr {
    box-sizing: border-box;
    width: 956px;
    height: 1px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
}

.content_footer {
    height: 220px;
    width: 308px;
    float: left;
    margin: 16px 0 0 16px;
}
.content_footer:first-of-type {
    margin: 16px 0 0 0;
}

ul {
    list-style-type: none;
}

.lay_low {
    display: inline-block;
    width: 308px;
    height: 13px;
    margin: 40px 0px 40px 16px;
    font-size: 11px;
    float: left;
    color: #FFFFFF;
}

.lay_low:first-of-type {
    margin: 40px 0 40px 0;
}

select {
    width: 227px;
    height: 40px;
    margin: -48px 0 33px 0;
    background-color: #3B3B3B;
    color: #FFFFFF;
}

.content_footer>p {
    color: #FFFFFF;
    font-size: 16px;
}
.content_footer>p:first-letter {
    color: #57AD56;
}

.content_footer li {
    color: #FFFFFF;
    margin: 23px 0 0 0;
    font-size: 13px;
}

.content_footer a img {
    width: 24px;
    height: 24px;

}

.link_prog {
    width: 120px;
    height: 40px;
}

#link_prog_1 {
    margin: 40px 0 40px 35%;
    float: left;
}

#link_prog_2 {
    margin: 40px 0 40px 3%;
    float: left;
}

.content_footer:first-of-type {
    margin-top: 40px;
}

#link_logo {
    position: fixed;
    bottom: 10px;
    right: 11%;
}

/*Исправления*/
#search_top::input-placeholder {
    font-size: 16px;
}
.color-text { 
    font-size: 16px;
    color: #626262;
}

/* Адаптапция */
@media (max-width: 768px) {
    header {
        width: 768px;
    }
    #header {
        width: 700px;
    }
    
    }