*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

.header {
    margin: 0 3%;
    width: 94%;
    height: 100px;
    box-shadow: 0px 4px 7px rgba(129, 129, 129, 0.25);
    box-sizing: border-box;
}

.menu {
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__ul {
    width: 345px;
    height: 20px;
    padding-left: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__li {
    display: flex;
}

.menu__link {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
text-decoration: none;

letter-spacing: -0.015em;
text-transform: capitalize;

color: #000000;
}

.menu__link:hover {
    color: #05A88D;
}

.menu__logo {
    width: 167px;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;

    display: flex;
    letter-spacing: -0.015em;
    color: #05A88D;
}

.menu__logo:hover {
    text-decoration: underline;
}

.boxes {
    width: 345px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 40px;
}

.but {
    width: 105px;
    height: 45px;
    background: none;
    border: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.menu__signup {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    letter-spacing: -0.015em;
    display: flex;


    color: #05A88D;
}

.but:hover {
    border: 1px solid #05A88D;
    border-radius: 3px;
}

.menu__login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;

    letter-spacing: -0.015em;
    display: flex;

    color: #05A88D;
}

.but:hover {
    border: 1px solid #05A88D;
    border-radius: 3px;
}

.img {
    width: 1440px;
    height: 100px;
    margin: 80px 3% 0 3%;
    width: 94%;
    height: 100px;
    box-shadow: 0px 4px 7px rgba(129, 129, 129, 0.25);
}